# contains sensitive and 
# configuration variables
# created per client/user
.env
.config

# firefox or chrome logs
# each run overrides file
# content
driver.logs

# generated screenshot 
# errors on findElement
screenshots/*

# generated chrome
# records .json
records/*
